# Copy this file to .env and fill in your values
# Never commit .env to git

DATABRICKS_TOKEN=your_databricks_token_here
DATABRICKS_HOST=https://community.cloud.databricks.com

HEALTHFLOW_DB_URL=postgresql+psycopg2://airflow:airflow@localhost:5432/airflow
SOCRATA_APP_TOKEN=your_socrata_app_token_here
